<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Trainee Home Page</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  
  <!-- Theme CSS - Includes Bootstrap -->
  <link href="/stylesheets/creative.min.css" rel="stylesheet">

</head>

<body id="page-top" style="background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">


    <nav class="navbar navbar-expand-lg navbar-light bg-dark mb-1">
        <a class="navbar-brand" href="#">
            <img src="/images/Logo.JPG" width="200px" height="40px" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <a href="/users/logout" class="btn btn-warning navbar-right">Logout</a>
        </div>
    </nav>
  
  <header>
    <div>
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="tr text-uppercase text-white font-weight-bold" style="font-style:italic; font-size: 80px;">Hello!! </h1>
          <h1 class="tr text-uppercase text-white font-weight-bold" style="font-style:italic; font-size: 40px;">Welcome to SATHRANG Trainee Portal</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5"> "The EXPERT in anything was once a BEGINNER"</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger"  href="/trainee/test"  style="font-style:italic; font-size: 10px">View Performance</a>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="/trainee/feedback" style="font-style:italic; font-size: 10px">Enter Feedback</a>
        </div>
      </div>
    </div>
  </header>

</body>
</html>
