<%if(error.status==404){%><img src="https://static-fastly.hackerearth.com/static/images/404.png" style="margin-left:auto; margin-right: auto; display:block; margin-top: 75px;"/><%}else{%>
<p><%=title%></p>
<p><%=title%></p>
<p><%=error.stack%></p><%}%>