<link rel="stylesheet" href="/stylesheets/welcome.css">


<nav class="navbar navbar-light bg-light">
    <img class="img-fluid" src="/images/Logo.JPG" width="300" height="40" class="d-inline-block align-top" alt="">
</nav>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Trainee Management System</h1>
      <br>
      <p class="lead text-muted">Helps in enhancing the learning experience of the trainees, provides performance analysis and reduces the hectic management tasks of the organization.</p>
      <br><br>
      <p>
        <a href="/SignIn" class="btn btn-primary btn-lg btn-block">Sign In</a>
        <a href="/AdminLogin" class="btn btn-success btn-lg btn-block">Admin Login</a>
      </p>
    </div>
  </section>
</main>
<footer class="footer mt-auto py-4">
  <div class="container">
    <span class="text-muted"><i class="fa fa-copyright" aria-hidden="true"></i>All Rights Reserved</span>
  </div>
</footer>